{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h1>Activity Log Demo</h1>
        <hr>
        {% set prjName = date().timestamp %}
            <a href="{{ path('create_project', {'projectName': prjName}) }}">Create project: {{prjName}}</a> |
            {% if project %}
                <a href="{{ path('update_project', {'id': project.id}) }}">Update project: {{project.name}}</a> |
                <a href="{{ path('delete_project', {'id': project.id}) }}">Delete project: {{project.name}}</a> |
            {% endif %}
        <hr>

        {% if res %}
            {% for item in res %}
                <p>{{ item.message|raw }}</p>
                {{ dump(item) }}
            {% endfor  %}
        {% else %}
            <div>Logs empty</div>
        {% endif %}
    </div>
{% endblock %}